				<h2>新しい投稿</h2>
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>Song</th>
							<th>Artist</th>
						</tr>
					</thead>
					<tbody><!--
						<#% if @artists.present? %>
							<#% @artists.each do |artist| %>
								<tr>
									<td><%#= link_to artist_path(artist.id), class: "artist_#{artist.id}" do %>
										<%#= artist.name %>
										<#% end %>
									</td>

									<td><%#= artist.body %></td>
								</tr>
							<#% end %>
						<#% end %> -->
					</tbody>
				</table>
