<nav aria-label="パンくずリスト">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a><%= link_to "アーティスト登録", new_artist_path %></a></li>
    <li class="breadcrumb-item active" aria-current="page">曲の登録</li>
  </ol>
</nav>

<h1>New Song</h1>
<%= render 'form', song: @song %>
<%= link_to 'Back', new_artist_path %>

