
<h1>曲名</h1>
<%= @song.song_name %>
<br>
<br>
<h2>アルバム名</h2>
<%= @song.album_name %>
<br>
<br>
<h3>歌詞</h3>


<% if @messages.present? %>
	<% @song.post_poems.each do |poem| %>
		<%= link_to new_post_trans_path do %>
		<%= poem.poem %>
		<% end %>
	<% end %>
<% end %>