// Place all the styles related to the post_poems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/* ここから下がボタンのCSS　*/
.btn-gradation {
  display: inline-block;
  width: 180px;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 4px;
  background-image: linear-gradient(-90deg, #FF006E, #FFD500);
  transition: .5s;
  background-size: 200%;
}

.btn-gradation:hover {
  background-position: right center;
}
